body, html {
	background-image: url("bg.jpg");
}
h1,h2,h3,h4,p,label {
	color:white;
}

.tab {
	overflow: hidden;
	border: 1px solid #ddd;
}

.tabcontent {
	display: none;
}

.chart {
	float: left;
	padding: 5px 5px;
}

.autoMap {
	float: left;
	padding: 20px 20px;
	max-width: 400px;
}

.column {
	float: left;
	padding: 20px 20px;
	max-width: 200px;
}

.bigColumn {
	float: left;
	padding: 20px 20px;
	max-width: 500px;
}

.bloc {
	display: block;
	clear: left;
	border: 1px solid #ddd;
}

.commentsPaste {
	overflow-y:auto;
	max-height:300px;
	max-width: 400px;
}