 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" href="index.css">
		<script src="/Chart.js"></script>
		<script>
			let individualChart = null;
			let allChart = null;
			
			function openTab(evt, tabname) {
				tabcontent = document.getElementsByClassName("tabcontent");
				for(i = 0; i < tabcontent.length; i++) {
					tabcontent[i].style.display = "none";
				}
				
				tablinks = document.getElementsByClassName("tablinks");
				for(i = 0; i < tablinks.length; i++) {
					tablinks[i].className = tablinks[i].classname.replaceAll(' active', "");
					console.log(tablinks[i].className);
				}
				
				document.getElementById(tabname).style.display = "block";
				evt.currentTarget.className += " active";
			}
			
			let dataFuncs = {};
			dataFuncs["AutoSpeaker"] = function(item) {return item.AutoSpeaker};
			dataFuncs["AutoAmp"] = function(item) {return item.AutoAmp};
			dataFuncs["AutoScores"] = function(item) {return item.AutoSpeaker + item.AutoAmp};
			dataFuncs["AutoWing"] = function(item) {return item.AutoPickUpWing};
			dataFuncs["AutoCenter"] = function(item) {return item.AutoPickUpCenter};
			dataFuncs["AutoPickups"] = function(item) {return item.AutoPickUpWing + item.AutoPickUpCenter};
			dataFuncs["AutoOuttakeEfficiency"] = function(item) {return (item.AutoSpeaker+item.AutoAmp) / (item.AutoPickUpWing+item.AutoPickUpCenter+1)};
			
			dataFuncs["TeleSpeakerAmped"] = function(item) {return item.SpeakerNotesAmped};
			dataFuncs["TeleSpeakerUnamped"] = function(item) {return item.SpeakerNotesUnamped};
			dataFuncs["TeleSpeaker"] = function(item) {return item.SpeakerNotesAmped + item.SpeakerNotesUnamped};
			dataFuncs["TeleAmp"] = function(item) {return item.AmpNotes};
			dataFuncs["TeleScores"] = function(item) {return item.SpeakerNotesAmped + item.SpeakerNotesUnamped + item.AmpNotes};
			dataFuncs["TeleGround"] = function(item) {return item.PickUpGround};
			dataFuncs["TeleSource"] = function(item) {return item.PickUpSource};
			dataFuncs["TelePickups"] = function(item) {return item.PickUpGround + item.PickUpSource};
			dataFuncs["TeleOuttakeEfficiency"] = function(item) {return (item.SpeakerNotesAmped + item.SpeakerNotesUnamped + item.AmpNotes) / (item.PickUpGround + item.PickUpSource)};
			
			async function initAll(operation, sort) {
				if(dataFuncs[operation] == null) return;
				const response = await fetch("/teams", {
					method: 'GET',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
					},
					credentials: 'include',
				});
				var text = await response.json();
				
				if(allChart == null) {
					allChart = new Chart("allChart", {
						type: "bar",
						options: {
							onClick: clickOnAllChart
						}
					});
				}
				
				data = [];
				color = "rgba("+Math.random()*255+","+Math.random()*255+","+Math.random()*255+")";
				
				for(i = 0; i < text.length; i++) {
					team = text[i];
					params = new URLSearchParams();
					params.append("teamNum", team);
					const reply = await fetch("/sql?"+params.toString(), {
						method: 'GET',
						headers: {
							'Content-Type': 'application/x-www-form-urlencoded',
						},
						credentials: 'include',
					});
					teamData = await reply.json();
					
					total = 0;
					teamData.forEach(item => total += dataFuncs[operation](item));
					average = total / teamData.length;
					data[i] = {x:team,y:average};
				}
				
				allChart.data.labels = text;
				
				if(sort) {
					altLabels = [];
					data.sort((a,b) => {
						return b.y - a.y;
					});
					for(i = 0; i < data.length; i++) altLabels[i] = data[i].x;
					allChart.data.labels = altLabels;
				}
				
				allChart.data.datasets[allChart.data.datasets.length] = {
					pointRadius: 0,
					backgroundColor: color,
					data: data,
					label: "Average " + operation,
					order: 1,
				};
				allChart.update();
			}
			
			async function updateIndividual(teamNum, operation) {
				if(dataFuncs[operation] == null) return;
				const params = new URLSearchParams();
				params.append("teamNum", teamNum);
				const response = await fetch("/sql?"+params.toString(), {
					method: 'GET',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
					},
					credentials: 'include',
				});
				var text = await response.json();
				
				data = [];
				x = [];
				var i = 0;
				
				total = 0;
				text.forEach(item => {
					data[i] = {x:item.MatchNumber,y:dataFuncs[operation](item)};
					x[i] = item.MatchNumber;
					total += dataFuncs[operation](item);
					i++;
				});
				
				average = total / data.length;
				avg = [];
				for(i = 0; i < data.length; i++) {
					avg[i] = average;
				}
				
				if(individualChart == null) {
					individualChart = new Chart("individualChart", {
						type: "bar",
						options: {
							onClick: clickOnIndividualChart,
						},
					});
				}
				
				color = "rgba("+Math.random()*255+","+Math.random()*255+","+Math.random()*255+")";
				individualChart.data.datasets[individualChart.data.datasets.length] = {
					pointRadius: 4,
					/*pointBackgroundColor: color,
					borderColor: color,*/
					backgroundColor: color,
					data: data,
					label: teamNum + " " + operation,
					order: 2
				};
				individualChart.data.datasets[individualChart.data.datasets.length] = {
					pointRadius: 0,
					data: avg,
					pointBackgroundColor: color,
					borderColor: color,
					label: teamNum + " " + operation + " average",
					type: "line",
					order: 1
				}
				
				individualChart.data.labels = x;
				individualChart.update();
			}
			
			async function initTeamDropdown() {
				const response = await fetch("/teams", {
					method: 'GET',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
					},
					credentials: 'include',
				});
				var text = await response.json();
				
				dataList = document.createElement("datalist");
				dataList.id = "selectDataTeam";
				text.forEach(option => {
					optionElement = document.createElement("option");
					optionElement.value = option;
					dataList.appendChild(optionElement);
				});
				
				document.body.appendChild(dataList);
			}
			
			function loadIndividual() {
				updateIndividual(document.getElementById("team").value, document.getElementById("individualSelector").value);
			}
			
			function loadAll() {
				initAll(document.getElementById("allSelector").value, document.getElementById("sortTeams").checked);
			}
			
			function jumpToIndividual(teamNum, operation) {
				individualChart.destroy();
				individualChart = null;
				updateIndividual(teamNum, operation);
			}
			
			async function clickOnIndividualChart(event) {
				var points = individualChart.getElementsAtEventForMode(event, 'nearest', {
					intersect: true
				}, true);
				if(points.length) {
					firstPoint = points[0];
					label = individualChart.data.labels[firstPoint._index];
					value = individualChart.data.datasets[firstPoint._datasetIndex].data[firstPoint._index];
					
					latestTeam = individualChart.data.datasets[firstPoint._datasetIndex].label.split(' ')[0];
					
					params = new URLSearchParams();
					params.append("teamNum", latestTeam);
					params.append("qual", label);
					
					const response = await fetch("/qual?"+params.toString(), {
						method: 'GET',
						headers: {
							'Content-Type': 'application/x-www-form-urlencoded',
						},
						credentials: 'include',
					});
					data = await response.json();
					
					document.getElementById("qualNum").textContent = data.TeamNumber + "'s Qualification " + data.MatchNumber;
					document.getElementById("alliance").textContent = data.AllianceColor + " " + data.DriverStation;
					document.getElementById("replay").textContent = "Replay: " + data.Replay;
					document.getElementById("scouter").textContent = "Scouter: " + data.ScouterName
					document.getElementById("quality").textContent = "Data Quality: " + data.DataQuality;
					
					document.getElementById("coords").textContent = data.StartPos;
					document.getElementById("preload").textContent = "Preloaded: " + data.Preload;
					document.getElementById("eStop").textContent = "Auto Stop: " + data.AStop;
					document.getElementById("leftWing").textContent = "Left Wing: " + data.LeftWing;
					document.getElementById("notesCenter").textContent = "Center Notes: " + data.AutoPickUpCenter;
					document.getElementById("notesWing").textContent = "Wing Notes " + data.AutoPickUpWing;
					document.getElementById("autoSpeaker").textContent = "Speaker: " + data.AutoSpeaker;
					document.getElementById("autoAmp").textContent = "Amp: " + data.AutoAmp;
					
					document.getElementById("coop").textContent = "Coopertition: " + data.Coopertition;
					document.getElementById("feeder").textContent = "Feeder: " + data.Feeder;
					document.getElementById("groundPickup").textContent = "Ground Intake: " + data.PickUpGround;
					document.getElementById("sourcePickup").textContent = "Source Intake: " + data.PickUpSource;
					document.getElementById("unampedSpeaker").textContent = "Unamped Speaker: " + data.SpeakerNotesUnamped;
					document.getElementById("ampedSpeaker").textContent = "Amped Speaker: " + data.SpeakerNotesAmped;
					document.getElementById("amps").textContent = "Amps: " + data.AmpNotes;
					
					document.getElementById("onstage").textContent = "Onstage: " + data.Onstage;
					document.getElementById("park").textContent = "Parked: " + data.Park;
					document.getElementById("spotlight").textContent = "Spotlit: " + data.Spotlight; 
					document.getElementById("trap").textContent = "Trap: " + data.Trap;
					
					document.getElementById("comments").textContent = data.Comments;
				}
			}
			
			async function clickOnAllChart(event) {
				var points = allChart.getElementsAtEventForMode(event, 'nearest', {
					intersect: true
				}, true);
				if(points.length) {
					firstPoint = points[0];
					label = allChart.data.labels[firstPoint._index];
					value = allChart.data.datasets[firstPoint._datasetIndex].data[firstPoint._index];
					operation = allChart.data.datasets[firstPoint._datasetIndex].label.split(' ')[1];
					jumpToIndividual(value.x, operation);
					document.getElementById("clickIndividual").click();
				}
			}
			
			updateIndividual(948, "TeleSpeaker");
			initAll("TeleSpeaker", false);
			initTeamDropdown();
			
		</script>
	</head>
	
	<body>
		<!-- navigator -->
		<div class="tab">
			<button id="clickAll" class="tabLinks" onclick="openTab(event, 'allTeams')">All Teams</button>
			<button id="clickIndividual" class="tabLinks" onclick="openTab(event, 'individual')">Individual</button>
		
			<!-- all robots screen -->
			<div id="allTeams" class="tabcontent">
				<h1>All Robots</h1><br>
				<input type="text" list="selectDataAll" id="allSelector" />
					<datalist id="selectDataAll">
						<option>V AUTOS V</option>
						<option>AutoSpeaker</option>
						<option>AutoAmp</option>
						<option>AutoScores</option>
						<option>AutoWing</option>
						<option>AutoCenter</option>
						<option>AutoPickups</option>
						<option>AutoOuttakeEfficiency</option>
						<option>V TELE-OP V</option>
						<option>TeleSpeakerAmped</option>
						<option>TeleSpeakerUnamped</option>
						<option>TeleSpeaker</option>
						<option>TeleAmp</option>
						<option>TeleScores</option>
						<option>TeleGround</option>
						<option>TeleSource</option>
						<option>TelePickups</option>
						<option>TeleOuttakeEfficiency</option>
						<option>V ENDGAME V</option>
					</datalist>
				<button onclick="loadAll()">Load!</button>
				<label for="sortTeams">Sort Teams?</label>
				<input type="checkbox" id="sortTeams"><br>
				<button onclick = "allChart.destroy();allChart=null">Destroy Chart</button>
				<canvas id="allChart" style="width:100%;max-width:1000px"></canvas>
			</div>
			
			<!-- individual robot screen -->
			<div id="individual" class="tabcontent">
				<h1>Individual Team</h1><br>
				<div>
					<h2>Chart Data</h2><br>
					<label for="team">Team #</label>
					<input type="text" name="team" list="selectDataTeam" id="team" value="948">
					<input type="text" list="selectData" id="individualSelector" />
						<datalist id="selectData">
							<option>V AUTOS V</option>
							<option>AutoSpeaker</option>
							<option>AutoAmp</option>
							<option>AutoScores</option>
							<option>AutoWing</option>
							<option>AutoCenter</option>
							<option>AutoPickups</option>
							<option>AutoOuttakeEfficiency</option>
							<option>V TELE-OP V</option>
							<option>TeleSpeakerAmped</option>
							<option>TeleSpeakerUnamped</option>
							<option>TeleSpeaker</option>
							<option>TeleAmp</option>
							<option>TeleScores</option>
							<option>TeleGround</option>
							<option>TeleSource</option>
							<option>TelePickups</option>
							<option>TeleOuttakeEfficiency</option>
							<option>V ENDGAME V</option>
						</datalist>
					<button onclick="loadIndividual()">Load!</button>
					<br>
					<button onclick = "individualChart.destroy();individualChart=null">Destroy Chart</button>
					<canvas id="individualChart" style="width:100%;max-width:700px"></canvas>
				</div><br>
				<div>
					<!-- misc data -->
					<div class="column">
						<h3 id="qualNum">Qualification #</h3>
						<h4 id="alliance">Alliance #</h4>
						<h4 id="replay">Replay</h4>
						<h4 id="scouter">Scouter: </h4>
						<h4 id="quality">Data Quality: </h4>
					</div>
					
					<!-- auto -->
					<div class="column">
						<h3>Auto</h3>
						<h4 id="coords">(x,y)</h4>
						<h4 id="preload">Preloaded: </h4>
						<h4 id="eStop">Auto Stop: </h4>
						<h4 id="leftWing">Left Wing:</h4>
						<h4 id="notesCenter">Center Notes: </h4>
						<h4 id="notesWing">Wings Note: </h4>
						<h4 id="autoSpeaker">Speaker: </h4>
						<h4 id="autoAmp">Amp: </h4>
					</div>
					
					<!-- tele-op -->
					<div class="column">
						<h3>Tele-Op</h3>
						<h4 id="coop">Coopertition: </h4>
						<h4 id="feeder">Feeder: </h4>
						<h4 id="groundPickup">Ground Intake: </h4>
						<h4 id="sourcePickup">Source Intake: </h4>
						<h4 id="unampedSpeaker">Unamped Speaker: </h4>
						<h4 id="ampedSpeaker">Amped Speaker: </h4>
						<h4 id="amps">Amps: </h4>
					</div>
					
					<!-- endgame -->
					<div class="column">
						<h3>Endgame</h3>
						<h4 id="onstage">Onstage:</h4>
						<h4 id="park">Parked: </h4>
						<h4 id="spotlight">Spotlit: </h4>
						<h4 id="trap">Trap: </h4>
					</div>
					
					<!-- comments -->
					<div class="column">
						<h3>Comments</h3>
						<p id="comments"></p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>